 
   
  

.container { margin: 0; padding: 0; }

.adjustable-content {  margin-left: 2px; /* отступ от header */ }

.image { width: 100%; height: 100%; margin: 0; padding: 0; }
.img-text {
   flex-direction: row;
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 34px;
    text-align: left;
    padding: 10px;
}
 

.blue-card { text-align: left ;  padding: 80px; float: left; background-color:#5788f5; margin-top: 30px; margin-left: 3%; width: 600px; height: 300px;}

.text-blue-card { color: white; }

.card-text {text-align: left; float: right; width: 500px; height: 300px; margin-top: 30px; margin-right: 3%; }

.text {   flex-wrap: wrap; color: black; }
/* 
@media (min-width: 768px) {
    .blue-card {
        flex-direction: row;
    }
} */