.dropdown-content {
    list-style-type: none;
    position: absolute;
    width: 165px;
    padding: 10px;
    background-color: #5788f5;
    border-radius: 2px; 
    margin: 0;
    top: 100%; /* Расположите выпадающее меню под родительским элементом */
    left: 0; /* Выравнивание по левому краю */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавьте тень для стиля */


}

.dropdown-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding: 2px;
    color: white;
    cursor: pointer;
    padding: 8px 12px; /* Увеличьте отступы для более удобного клика */
    transition: background-color 0.2s ease; /* Плавное изменение цвета при наведении */
}
.dropdown-item:hover {
    background-color: #3b6fc9; /* Измените цвет при наведении */
}