.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 40px 20px 20px; /* Увеличим верхний padding */
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 00px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.modal-content form button {
    background-color: #ff7f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal-content form button:hover {
    background-color: #e56d00; /* Исправим цвет */
}
